/snoop.env
/search.env
/nginx.env
/docker-compose.override*.yml
/search
/snoop
/ui
/collections
/volumes
/snoop-blobs
/gnupg
/.idea
__pycache__
*.pyc
/collection*.txt
/collection*.sh
/settings/*/
/settings/*-testing.py
/.python-version
/profiles
/templates/docker-custom-*.yml
/.cache
/.pytest_cache
/.venv
/.vscode
/*.tar
/*.7z
/*.tgz
